*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'WoodfordBourne';
	src: url('../fonts/woodford-bourne/WoodfordBournePRO-Thin.otf');
}

:root {
	--color-text: rgb(0, 0, 0);
	--background-color-header: rgb(255, 255, 255);
	--background-color-body: rgb(245, 245, 245);
	--background-color-footer-1: rgb(35, 35, 35);
	--background-color-footer-2: rgb(224, 224, 224);
	--background-color-hover: rgb(52, 78, 229);
	--color-text-hover: rgb(255, 255, 255);
	--hr-color: rgb(0, 0, 0);
}

/* ************************** */
/* Styling voor de dark mode */
/*************************** */

@media (prefers-color-scheme: dark) {
	:root {
	--color-text: rgb(255, 255, 255);
	--background-color-header: rgb(74, 74, 74);
	--background-color-body: rgb(0, 0, 0);
	--background-color-footer-1: rgb(74, 74, 74);
	--background-color-footer-2: rgb(111, 111, 111);
	--hr-color: rgb(255, 255, 255);
	}
}

/* ************************** */
/* Styling voor de hele body */
/*************************** */

body {
	font-family: 'WoodfordBourne';
	color: var(--color-text);
	background-color: var(--background-color-body);
	align-items: center
}

/* ************************** */
/* Styling voor de states */
/*************************** */

main a:hover{
	background-color: var(--background-color-hover);
	color: var(--color-text-hover);
	transition: 1s;
	border-color: var(--background-color-hover);
}

main a:focus{
	background-color: var(--background-color-hover);
	color: var(--color-text-hover);
	border-color: var(--background-color-hover);
}

/* ************************** */
/* Styling voor de header */
/*************************** */

header {
	background-color: var(--background-color-header);
	display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
	height: 5em;
    position: fixed;
}

header img {
	width: 12em;
	height: 1.8em;
	margin-left: 3em;
	margin-top: 1.5em;
}

/* ************************** */
/* Styling voor het menu */
/*************************** */

header nav button {
	display: grid;
	place-items: center;
	border: none;
	margin-top: 3em;
	margin-right: 2em;
}

header nav button span {
	grid-row-start: 1;
	grid-column-start: 1;
	width: 3em;
	height: .2em;
	background-color: var(--color-text);
	transition-duration: .5s;
}

header nav ul {
	z-index: -666;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	left: 0;
	margin: 0;
	background-color: var(--background-color-header);
	padding: 0;
	transform: translateX(-100%);
	transition: transform 1s;
}

header nav ul li {
	list-style-type: none;
	text-align: center;
	padding: 0.5em;
	font-size: 1.5em;
}

header nav ul li a{
	text-decoration: none;
	color: var(--color-text);
}

header nav.menu-open ul {
	transform: translatex(0%);
	transition-duration: 1s;
}

/* ************************** */
/* Animatie voor de menu button */
/*************************** */

header nav button span:nth-of-type(1){
	transform: translateY(-.4em);
}

header nav.menu-open button span:nth-of-type(1){
	transform: rotate(45deg) scalex(1.25);
}

header nav button span:nth-of-type(2){
	transform: none;
}

header nav.menu-open button span:nth-of-type(2){
	transform: rotate(135deg) scalex(1.25);
}

header nav button span:nth-of-type(3){
	transform: translateY(.4em);
}

header nav.menu-open button span:nth-of-type(3){
	transform: rotate(135deg) scalex(1.25);
}

/* ************************** */
/* Styling voor de main */
/*************************** */

main{
	margin-top: 10em;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
}

h1 {
	font-size: 2em;
	letter-spacing: .5em;
	margin-bottom: 3em;
}

h2 {
	font-size: 2em;
	padding: .5em;
}

h3 {
	font-size: .8em;
	margin: 2em;
}

h5, h6{
	font-size: 1em;
}

hr{
	border: .01em solid;
	border-color: var(--hr-color);
}

video {
	width: 100%;
}

section {
	margin: 3em
}

main img {
	margin: auto;
	display: block;
	width: 22em;
}

main section a{
	color: var(--color-text);
	text-decoration: none;
	text-align: center;
	background-color: var(--background-color-header);
	padding: 1em;
	border-radius: .5em;
	border: solid;
	margin-left: 8em;
	margin-right: 8em;
	display: block;
}

main section ol{
	padding-right: 3em;
}

main section ol li{	
	text-align: center;
	List-style-position: inside;
}

main section:last-of-type section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	margin: 1.25em 0em 3.5em 0em;
}

main section:last-of-type section a{
	display: flex;
	margin: .5em;
}

main section:last-of-type section a img{
	width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}

main section:last-of-type section a i {
    margin-right: 0.3em;
}

/* ************************** */
/* Styling voor de footer */
/*************************** */

footer section{
	display: flex;
	justify-content: center;
}

footer section img{
	width: 3em;
}

footer section:nth-of-type(1){
	background-color: var(--background-color-footer-1);
	margin: 0;
}

footer section:nth-of-type(2){
	background-color: var(--background-color-footer-2);
	margin: 0;
}

footer section:nth-of-type(3){
	background-color: var(--background-color-header);
	margin: 0;
	font-size: .6rem;
	padding-bottom: 4em;
}