/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('../fonts/NanumGothic-Regular.ttf');
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--background-color-header: rgb(255, 255, 255);
	--background-color-body: rgb(245, 245, 245);
}

body {
	font-family: 'NanumGothic';
	background-color: var(--background-color-body);
}

header {
	background-color: var(--background-color-header);
}

nav {
	display: flex;
}

nav img {
	width: 15em;
	height: 3em;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
}

h2 {
	text-align: center;
	font-size: 1rem;
	padding: .5rem;
}

h3 {
	text-align: center;
	font-size: .8rem;
	margin: 2rem;
}

button {
	margin: auto;
	display: block;
}

main img {
	margin: auto;
	display: block;
	width: 15em;
}

body {
	align-items: center
}

section {
	margin: 3rem
}

video {
	width: 100%;
	margin: auto;
	display: block;
}