*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'WoodfordBourne';
	src: url('../fonts/woodford-bourne/WoodfordBournePRO-Thin.otf');
}

:root {
	--color-text: rgb(0, 0, 0);
	--background-color-header: rgb(255, 255, 255);
	--background-color-body: rgb(245, 245, 245);
	--background-color-footer-1: rgb(35, 35, 35);
	--background-color-footer-2: rgb(224, 224, 224);
}

@media (prefers-color-scheme: dark) {
	:root {
	--color-text: rgb(255, 255, 255);
	--background-color-header: rgb(74, 74, 74);
	--background-color-body: rgb(0, 0, 0);
	--background-color-footer-1: rgb(74, 74, 74);
	--background-color-footer-2: rgb(111, 111, 111);
	}
}

body {
	font-family: 'WoodfordBourne';
	color: var(--color-text);
	background-color: var(--background-color-body);
	align-items: center
}

header {
	background-color: var(--background-color-header);
	display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
	height: 5em;
    position: fixed;
}

header img {
	width: 12em;
	height: 1.8em;
	margin-left: 3em;
	margin-top: 1.5em;
}

nav ul {
	transform: translateX(-300%);
}

header nav button {
	display: grid;
	place-items: center;
	border-radius: 50%;
	border: none;
	margin-top: 3em;
	margin-right: 2em;
}

header nav button span {
	grid-row-start: 1;
	grid-column-start: 1;
	width: 3em;
	height: .2em;
	background-color: var(--color-text);
	transition-duration: .5s;
}

header nav button span:nth-of-type(1){
	transform: translateY(-.4em);
}

header nav.menu-open button span:nth-of-type(1){
	transform: rotate(45deg) scalex(1.25);
}

header nav button span:nth-of-type(2){
	transform: none;
}

header nav.menu-open button span:nth-of-type(2){
	transform: rotate(135deg) scalex(1.25);
}

header nav button span:nth-of-type(3){
	transform: translateY(.4em);
}

header nav.menu-open button span:nth-of-type(3){
	transform: rotate(135deg) scalex(1.25);
}

header nav ul {
	z-index: -666;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	left: 0;
	margin: 0px;
	background-color: var(--background-color-header);
	padding: 0;
	transform: translateX(-100%);
	transition: transform 1s;
}

header nav ul li {
	list-style-type: none;
	text-align: center;
	padding: 10px;
	font-size: 23px;
}

header nav ul li a{
	text-decoration: none;
	color: var(--color-text);
}

header nav.menu-open ul {
	transform: translatex(0%);
	transition-duration: 1s;
}

main{
	margin-top: 10em;
}

/* main section button{
	justify-content: center;
	align-items: center;
} */

h1, h2, h3, h4{
	text-align: center;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1rem;
	padding: .5rem;
}

h3 {
	font-size: .8rem;
	margin: 2rem;
}

main img {
	margin: auto;
	display: block;
	width: 15em;
}

main section button{
	color: var(--color-text);
	background-color: var(--background-color-header);
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 1em;
	margin: auto;
	display: block;
}

main section button a{
	text-decoration: none;
	color: var(--color-text);
}

main section button img:last-of-type{
	width: 2em;
}

main section ol li{	
	text-align: center;
}

section {
	margin: 3rem
}

video {
	width: 100%;
}

footer section{
	display: flex;
	justify-content: center;
}

footer section img{
	width: 3em;
}

footer section:nth-of-type(1){
	background-color: var(--background-color-footer-1);
	margin: 0;
}

footer section:nth-of-type(2){
	background-color: var(--background-color-footer-2);
	margin: 0;
}

footer section:nth-of-type(3){
	background-color: var(--background-color-header);
	margin: 0;
	font-size: .6rem;
	padding-bottom: 4em;
}